.container {
  max-width: 500px;
  padding: 0 1rem;
  margin: 0 auto;
  background-color: black;
  border-radius: 15px;
  flex-direction: column;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.item{
    background-color: red;
}
.container_mapa {
  width: 100%;
  max-width: 900px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  background-color: black;
  border-radius: 15px;
  flex-direction: column;
  padding-bottom: 10px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}
.header{
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  background-color: transparent;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-right: 10px;
}
.iconClose{
  background-image:url(../public/iconos/icon_close.svg);
  width: 35px;
  height: 35px;
  /*border-radius: 25px;
  border-style: solid;
  border-width: 4px;
  border-color: #FDBA30;*/
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.iconClose:hover{
  background-image:url(../public/iconos/icon_close_white.svg);
}
.contentText{
  background-color: transparent;
  color: white;
  text-align: justify;
  padding: 20px;
}
.contentPop{
    display: flex;
    background-color: transparent;
    width: 100%;
}
.contentPop h4{
  color: white;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.contentPop ul{
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  list-style-type: none;
}

.contentPopLeft{
  background-color: transparent;
  flex: 1;
}
.contentPopRight{
    background-color: transparent;
    flex: 1;
}
.icoPlay{
  background-image: url(../public/iconos/icon_play_white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 0px;
}
.btnTourAutomatico{
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
}

.contentAmbientes{
  width: 210px;
  margin: 0 auto;
}
.listadoAmbientes{
  background-color: transparent;
  width: 300px;
  height: 370px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.listadoAmbientes ul{
  margin-top: 0px;
}

.listadoAmbientes::-webkit-scrollbar {
    width: 3px;
}
.listadoAmbientes::-webkit-scrollbar-track {
    background: #55565A;
}
.listadoAmbientes::-webkit-scrollbar-thumb {
    background: #FDBA30;
}
.listadoAmbientes::-webkit-scrollbar-thumb:hover{
    background: #FDBA30;
}

.contentPop ul li{
  color: white;
  width: 210px;
  padding: 5px;
  padding-top:   px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  border-color: transparent;
}
.selected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}
.contentPop ul li.icoLeftSelected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
  background-color: transparent;
}
/*
.contentPop ul li:hover{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}
*/
li.selected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}
.contentPop ul li.selected{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8BA30;
}


.map{
  margin: 0 auto;
  display: block;
  background-color: transparent;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .contentPopLeft{
    display: none;
  }
  .icoLeft{
    display: inline;
  }
  .container_mapa {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:65px;
    margin: 0px;
    border-radius: 0px;
  }

  .contentAmbientes{
    margin-left: 0px;
    width: auto;
  }
  .contentPop ul li{
    width: 100%;
  }
}
