.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  background-color: transparent;
}

.icono{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-width: 4px;
  border-color: #FDBA30;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icono:hover{
  background-color: #FDBA30;
}
.icono div{
  background-color: transparent;
  /*background-color: transparent;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 30px;
}
.iconoLeft div{
  background-image:url(../public/iconos/icon_left.svg);
  margin-right:3px;
}
.iconoRight div{
  background-image: url(../public/iconos/icon_right.svg);
  width: 25px;
  height: 25px;
  margin-left:2px;
}
.iconoVerVideo div{
  background-image: url(../public/iconos/icon_vervideo.svg);
}
.iconoVerVideo{
  background-color: black;
  border-color: black;
}
.iconoVerVideo.icono:hover{
  background-color: white;
  border-color: white;
}
.iconoPlay div{
  background-image: url(../public/iconos/icon_play.svg);
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
.iconoVerInformacion div{
  background-image: url(../public/iconos/icon_informacion.svg);
}
.iconoVerInformacion{
  background-color: black;
  border-color: black;
}
.iconoVerInformacion:hover{
  background-color: white;
  border-color: white;
}
.iconoVerInformacion:hover div{
  background-image: url(../public/iconos/icon_informacion_black.svg);
}
.iconoVerVideo:hover div{
  background-image: url(../public/iconos/icon_vervideo_black.svg);
}
.iconoVerCampus div{
  background-image: url(../public/iconos/icon_vercampus.svg);
}
.iconoVerUbicacion div{
  background-image: url(../public/iconos/icon_ubicacion.svg);
  width: 25px;
  height: 25px;
}


.mainControl{
  width: 300px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  background-color: transparent;
  background-image: url(../public/fondos/ellipse.png);
  background-repeat: no-repeat;
  background-size: cover;
}
