.tituloContainer{
  background-color: #55565A;
  color: white;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;

}
.titulo{
  display: flex;
  width: 85%;
  margin: 0 auto;
  background-color: transparent;
}
.titulo h1{
  font-size: 25px;
  padding: 0px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-weight: 400;
}
.titulo_bottom{
  width: 100%;
  height:4px;
  background-color: #55565A;
}
.titulo_bottom_yellow{
  width: 50%;
  height: 5px;
  background-color: #FDBA30;
}


.visor{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: transparent;
  position: relative;
}
.triangulo{
  margin-top: 10px;
  width: 70px;
  height: 50px;
  background-color: transparent;
  background-image: url(../public/iconos/ico_triangulo.svg);
  background-position: top;
  margin-left: -20px;
}
.icono{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-width: 4px;
  border-color: #FDBA30;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icono:hover{
  background-color: #FDBA30;
}
.icono div{
  background-color: transparent;
  /*background-color: transparent;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 30px;
}
.iconoLeft div{
  background-image:url(../public/iconos/icon_left.svg);
  margin-right:3px;
}
.iconoRight div{
  background-image: url(../public/iconos/icon_right.svg);
  width: 25px;
  height: 25px;
  margin-left:2px;
}

.iconoVerFoto div{
  background-image: url(../public/iconos/ico_foto.svg);
}
.iconoVerFoto{
  background-color: black;
  border-color: black;
}
.iconoVerFoto div{
  background-image: url(../public/iconos/ico_foto.svg);
}
.iconoVerFoto.icono:hover{
  background-color: white;
  border-color: white;
}

.iconoVerVideo div{
  background-image: url(../public/iconos/icon_vervideo.svg);
}
.iconoVerVideo{
  background-color: black;
  border-color: black;
}
.iconoVerVideo.icono:hover{
  background-color: white;
  border-color: white;
}
.iconoPlay div{
  background-image: url(../public/iconos/icon_play.svg);
  width: 25px;
  height: 25px;
  margin-left: 5px;
}
.iconoVerInformacion div{
  background-image: url(../public/iconos/icon_informacion.svg);
}
.iconoVerInformacion{
  background-color: black;
  border-color: black;
}
.iconoVerInformacion:hover{
  background-color: white;
  border-color: white;
}
.iconoVerInformacion:hover div{
  background-image: url(../public/iconos/icon_informacion_black.svg);
}
.iconoVerVideo:hover div{
  background-image: url(../public/iconos/icon_vervideo_black.svg);
}

.iconoVerFoto:hover div{
  background-image: url(../public/iconos/ico_foto_black.svg);
}
.iconoVerCampus div{
  background-image: url(../public/iconos/icon_vercampus.svg);
}
.iconoVerUbicacion div{
  background-image: url(../public/iconos/icon_ubicacion.svg);
  width: 25px;
  height: 25px;
}

.controles_video{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.controles{
  width: 100%;
  height: 90px;
  background-color: transparent;
}
.mainControl{
  width: 300px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  background-color: transparent;
  background-image: url(../public/fondos/ellipse.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.controles_medio{
  flex: 1;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}
.controles_atras_adelante{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.layer1{
  background-color: red;
  flex: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:65px;
}
.layer2{
  background-color: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:65px;
}
.layer3{
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .triangulo{
    display: none;
  }
  .titulo{
    width: 100%;
  }
}
