.bloque_bienvenida{
  background-color: transparent;
  margin-left: 0px;
  margin-right: 30px;
  max-width: 420px;
}
.icoSound{
  width: 30px;
  height: 30px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url(/img/sound_ico.svg);
}
.icono{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-width: 4px;
  border-color: #FDBA30;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icono:hover{
  background-color: #FDBA30;
}
.icono div{
  background-color: transparent;
  /*background-color: transparent;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 30px;
  height: 30px;
}
.campus div{
  background-image: url(../public/iconos/icon_vercampus.svg);
}
.fb div{
  background-image: url(../public/iconos/ico_fb.svg);
}
.ig div{
  background-image: url(../public/iconos/ico_ig.svg);
}
.iconos_ini{
  width: 200px;
  height: 60px;
  margin-top: 15px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.bienvenido{
  color: white;
}
.tour_virtual{
  color: white;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
  display: block;
  font-size: 55px;
  line-height: 60px;
  font-weight: 800;
  text-align: center;
  background: rgba(253, 186, 48, 0.8);
  font-style: normal;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
.tour_instrucciones{
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.tour_instrucciones div{
  display: flex;
  justify-content: center;;
  align-items: center;
}

.bloque_campus{
  background-color: rgba(0,0,0,0.65);
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloque_campus .content{
  width: 85%;
  position: relative;
}
.bloque_campus .titulo{
  color: white;
  line-height: 35px;
  background-color: transparent;
  margin-left: 0px;
  margin-bottom: 20px;
}
.bloque_campus .campus{
  font-size: 40px;
  font-weight: 500;
}
.thumbs{
  width: 170px;
  margin-right: 30px;
  margin-bottom: 20px;
  text-decoration: none;
}
.thumbs:hover{
  text-decoration: none;
}
.content_thumbs{
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  position: relative;
  /*justify-content: space-around;
  align-items: flex-start;*/
}
.thumbs_image{
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-color: transparent;
}
.thumbs .label{
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: white;
  text-decoration: none;
}
.yellowClose{
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(/iconos/icon_close_yellow.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0px;
  top:0px;
  cursor: pointer;
}
.icoLeft{
  display: none;
}
.bloque_bienvenida_content{
  width: 85%;
  margin: 0 auto;
  background-color: transparent;
}

@media (max-width: 900px) {
  .thumbs{
    width: 140px;
  }
  .thumbs_image{
    margin-bottom: 0px;
  }
}
@media (max-width: 600px) {
  .bloque_bienvenida{
    margin-top: 30px;
  }
  .thumbs_image{
    display: none;
  }
  .content_thumbs{
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .bloque_campus{
    /*align-items: flex-start;*/
  }
  .yellowClose{
    top: 10px;
  }
  .bloque_campus .content{
    padding-top: 10px;
  }
  .icoLeft{
    display: inline;
  }
  .thumbs{
    width: auto;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 10px;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
  }
  .thumbs:hover{
    background-color: transparent;
    padding: 5px;
    padding-left: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FDBA30;
    border-radius: 10px;
  }
}
