html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #ccc;
}
.svg-cursor{
  cursor: pointer;
}
.svg-top{
  z-index: 100;
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
h1{
	color:red;
	font-family: 'Poppins', sans-serif;
}
.ico_menu{
	width: 40px;
	height: 40px;
	background-color: #FDBA30;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 20px;
	top:20px;
}
.ico_menu img{
	width: 22px;
}

#pagina {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;
  height: 100vh;
}
#header {
  grid: area;
  background-color: #FDBA30;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
#header .header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

#main {
  grid: main;
  background-color: red;
}
#footer {
  grid: footer;
  background-color: #000;
  color: #97989B;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
  height: 55px;
  padding-top: 5px;
}
.top_btn_content{
  display: flex;
}
.top_btn:first-child{
  margin-right: 10px;
}
.top_btn{
  margin: 10px;
  background-color: #55565A;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  font-size: 14px;
  width: 190px;
  text-align: center;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.top_btn:hover{
  background-color: #FFF;
  color: #55565A;
  text-decoration: none;
}
.logo{
  width: 200px;
  height: 70px;
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
#main{
  background-color: transparent;
  align-items: center;
  display: flex;
  background-image: url(/img/bg1.jpg);
  background-size: cover;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.menu{
  display: none;
}

.mobile_list_menu{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding-top: 10px;
  z-index: 200;
}
.mobile_list_menu>ul>li{
  list-style-type: none;
  padding-bottom: 5px;
}
.mobile_list_menu>ul>li a{
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.list_campus{
  list-style-type: none;
  background-color: transparent;
  margin-right: 30px;
  padding-left: 0px;
}
.list_campus li{
  padding: 4px;
  padding-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}
.list_campus li:hover{
  border-style: solid;
  border-width: 1px;
  border-color: #FDBA30;
  border-radius: 10px;
}
.list_campus li a{
  color: white;
  text-decoration: none;
}
.mobile_list_menu ul li{
  color: white;
  margin-bottom: 5px;
}
@media (max-width: 600px) {
  #header .header_container{
    flex-direction: column;
    padding-left:0px;
    padding-right: 0px;
    padding-top: 0px;
    align-items: flex-start;
    width: 100%;
  }
  .menu{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    right: 15px;
    top: 20px;
    z-index: 100;
    display: block;
    background-image: url(/iconos/menu.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  .menu_close{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    right: 15px;
    top: 20px;
    z-index: 100;
    display: block;
    background-image: url(/iconos/ico_close.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  .menu.activa{

  }
  .top_btn{
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .top_btn:first-child{
    margin-right: 0px;
  }
  .logo{
    margin-left: 10px;
  }
  .top_btn_content{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #main{
    align-items:flex-start;
  }

}
